<section class="phx-hero">
  <h1><%= gettext "Welcome to What2Cook!" %></h1>
  <p>Get your menus planned in a jiffy!</p>
</section>

<section>
  <h2>To get started:</h2>
  <ul>
    <%= link to: Routes.recipe_index_path(@conn, :index) do %>
    <li>Manage your recipes</li>
    <% end %>
    <%= link to: Routes.menu_generator_index_path(@conn, :index) do %>
    <li>Generate a menu from your recipes</li>
    <% end %>
  </ul>
</section>
